@import "style.css";
@import url("style.css");

/* Hero Section */

#herovideo {
  height: 100%;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero__headline {
  font-size: var(--font-size-h1);
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 30vh;
  padding: 2rem;
}

.hero__headline p {
  align-self: flex-end;
  display: flex;
  height: 5rem;
  text-transform: uppercase;
  font-family: "SctoBold";
}

.hereText {
  display: flex;
  align-items: center;
}

.hero__headline p::before {
  content: "⬤";
  color: var(--color-black);
  margin-right: 0.3rem;
  font-size: 2rem;
}

.hero__headline h1 {
  width: 35rem;
  text-transform: uppercase;
  font-family: "SctoBold";
}

/* Basic Section */

.basic {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  margin: 2rem 0 2rem 0;
  padding: 2rem;
}

.basic__info {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.basic__Logo img {
  width: 25rem;
}

.basic__Headline {
  font-size: 2rem;
  font-family: "SctoBold";
  width: 90%;
}

.basic__Logo {
  padding-top: 2rem;
}

.seeWorkButton {
  text-decoration: none;
  color: var(--color-black);
  border: 1px solid var(--color-black);
  border-radius: 2rem;
  text-align: center;
  width: 20%;
  padding: 1rem;
  text-transform: uppercase;
}

/* Section Engagement */

.engagement {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 5rem;
  padding: 2rem;
}

.engagement__Headline {
  font-size: var(--font-size-h2);
  width: 30%;
  text-transform: uppercase;
  font-family: "SctoBold";
}

.engagement__ScrollFrame {
  display: flex;
  /* justify-content: space-evenly; */
  align-items: center;
  gap: 8rem;
  overflow-x: auto;
}

.engagement__Logo {
  width: 8rem;
  height: auto;
}

.engagement__Brand {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  min-width: 15rem;
}

.engagement__Line {
  border: 1px solid var(--color-black);
  width: 10%;
}

.engagement__Heading {
  font-size: 1.3rem;
}

/* Section Culture */

.culture {
  background-color: var(--color-dark-grey);
  color: var(--color-pink);
  width: 100%;
  padding: 2rem;
}

.culture__Headline {
  font-size: var(--font-size-h1);
  font-family: "SctoBold";
}

.culture__Subtitle {
  font-size: 1.2rem;
}

.culture__Button {
  text-decoration: none;
  color: var(--color-pink);
  border: 1px solid var(--color-pink);
  border-radius: 2rem;
  text-align: center;
  width: 20%;
  padding: 1rem;
  text-transform: uppercase;
}

.culture__Frame {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* Section Featured */

.featured {
  background-color: var(--color-dark-grey);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.featured__Frame {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.featured__One {
  display: flex;
  gap: 2rem;
  color: var(--color-pink);
}

.featured__OneImage {
  width: 30rem;
  height: auto;
}

.featured__OneText {
  font-size: 2rem;
  padding-top: 2rem;
  width: 40rem;
}

.featured__OneInfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid var(--color-pink);
  width: 100%;
}

.arrow__Image {
  width: 3rem;
  height: auto;
  margin-top: 2rem;
}

.featured__Headline {
  font-size: var(--font-size-h2);
  color: var(--color-pink);
}
