@import "style.css";
@import url("style.css");

/* Hero Section */

#herovideo {
    height: 100%;
    width: 100%;
}

.hero {
    display: flex;
    flex-direction: column;
}

.hero__headline {
    font-size: var(--font-size-h1);
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 30vh;
    padding: 2rem;
}

.hero__headline p {
    align-self: flex-end;
    display: flex;
    height: 5rem;
    text-transform: uppercase;
    font-family: "SctoBold";
}

.hereTest {
    display: flex;
    align-items: center;
}

.hero__headline p::before {
    content: "⬤";
    color: var(--color-black);
    margin-right: 0.3rem;
    font-size: 2rem;
}

.hero__headline h1 {
    width: 35rem;
    text-transform: uppercase;
    font-family: "SctoBold";
}

/* Basic Section */

.basic {
    height: 40vh;
    width: 100%;
    border-top: 1px solid var(--color-light-grey);
    border-bottom: 1px solid var(--color-light-grey);
    /* margin: 2rem; */
}