@font-face {
  font-family: "SctoRegular";
  src: url(../fonts/SctoGroteskA-Regular.woff2);
}

@font-face {
  font-family: "SctoMedium";
  src: url(../fonts/SctoGroteskA-Medium.woff2);
}

@font-face {
  font-family: "SctoBold";
  src: url(../fonts/SctoGroteskA-Bold.woff2);
}

/* ----- Smooth Scrolling ----- */

html.lenis {
  height: auto;
}

.lenis.lenis-smooth {
  scroll-behavior: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-scrolling iframe {
  pointer-events: none;
}

/* Global Styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "SctoRegular";
  padding: 0 2rem 0 2rem;
}

:root {
  /* Fonts */

  --color-black: black;
  --color-white: white;
  --color-pink: #f9cdcd;
  --color-dark-grey: #252422;

  /* Font Sizes */

  --font-size-h1: 5rem;
  --font-size-h2: 2.3rem;
  --font-size-nav: 0.8rem;
  --font-size-footer-headline: 1.675rem;
  --font-size-footer-list-headline: 1.075rem;
  --font-size-footer-list: 0.8rem;
}

/* Header Styles */

header {
  padding: 1rem;
}

header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul {
  display: flex;
  gap: 5rem;
  list-style: none;
}

header nav ul li a {
  font-size: var(--font-size-nav);
  text-transform: uppercase;
  text-decoration: none;
  color: var(--color-black);
}

.logo img {
  height: 0.8rem;
}

.dots {
  display: flex;
  gap: 0.2rem;
}

.dots div {
  background-color: var(--color-black);
  height: 0.5rem;
  width: 0.5rem;
  border-radius: 0.5rem;
}

/* Footer Styles */

footer {
  width: 100%;
  height: 20rem;
  background-color: var(--color-dark-grey);
}

.logo__Footer img {
  height: 0.8rem;
}

.footer__Top {
  display: flex;
  justify-content: space-between;
}

.footer__Mid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "newsletter newsletter newsletter socials initiatives offices";
  width: 100%;
}

.newsletter {
  grid-area: newsletter;
  display: flex;
  flex-direction: column;
  width: 40%;
}

.socials {
  grid-area: socials;
  width: 20%;
}

.initiatives {
  grid-area: initiatives;
  width: 20%;
}

.offices {
  grid-area: offices;
  width: 20%;
}
