@font-face {
    font-family: "Inter";
    src: url(../fonts/Inter/Inter-VariableFont_slnt\,wght.ttf);
}

/* ----- Smooth Scrolling ----- */

html.lenis {
    height: auto;
  }
  
  .lenis.lenis-smooth {
    scroll-behavior: auto;
  }
  
  .lenis.lenis-smooth [data-lenis-prevent] {
    overscroll-behavior: contain;
  }
  
  .lenis.lenis-stopped {
    overflow: hidden;
  }
  
  .lenis.lenis-scrolling iframe {
    pointer-events: none;
  }

/* Global Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
}

:root {
    /* Colors /
    --color-black: black;
    --color-white: white;
    --color-pink: #F9CDCD;
    --color-dark-grey: #252422;
    / Fonts */
    --font-size-h1: 5rem;
    --font-size-h2: 2.3rem;
}