@import "style.css";
@import url("style.css");


header {
    padding: 2rem;
    background-color: var(--color-dark-grey);
}

header nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header nav ul {
    display: flex;
    gap: 5rem;
    list-style: none;
}

header nav ul li a {
    font-size: var(--font-size-nav);
    text-transform: uppercase;
    text-decoration: none;
    color: var(--color-pink);
}

.logo a img {
    height: 0.8rem;
}

.dots {
    display: flex;
    gap: 0.2rem;
}

.dots div {
    background-color: var(--color-pink);
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 0.5rem;
}

/* ------ section value------ */

.cultural {
    display: flex;
    background-color: var(--color-dark-grey);
    color: var(--color-pink);
    padding: 2rem;
    justify-content: space-between;
}

.cultural h1 {
    width: 20vw;
    font-family: "SctoBold";
    text-transform: uppercase;
    font-size: var(--font-size-h1);
}

.value {
    padding: 0 20% 20% 0;
    height: 70vh;
}


.into {
    display: flex;
    flex-direction: column;
    align-self: self-end;
}

.intoHeadline {
    font-family: "SctoBold";
    text-transform: uppercase;
    font-size: var(--font-size-h1);
    display: flex;
    align-items: flex-start;
}

.intoHeadline::before {
    content: "⬤";
    color: var(--color-pink);
    margin-right: 0.3rem;
    font-size: 2rem;
}

.into h1 {
    width: 20vw;
    text-transform: uppercase;
    margin-bottom: 1rem;
    display: flex;
    align-items: flex-start;
}

.intoText {
    font-size: 1.2rem;
    width: 34vw;
}