@import "style.css";
@import url("style.css");

/* Footer Styles */

footer {
  width: 100%;
  background-color: var(--color-dark-grey);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo__Footer img {
  height: 0.8rem;
}

.footer__Top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__Mid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "newsletter newsletter newsletter socials initiatives offices";
  width: 100%;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__Mid ul li a {
  text-decoration: none;
  color: var(--color-white);
}

.newsletter {
  grid-area: newsletter;
  display: flex;
  flex-direction: column;
}

.socials {
  grid-area: socials;
}

.initiatives {
  grid-area: initiatives;
}

.offices {
  grid-area: offices;
}

.footer__Bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1.5rem;
}

.footer__Bottom p {
  color: var(--color-light-grey);
  font-size: var(--font-size-footer-bottom);
}

.footer__Headline {
  color: var(--color-white);
  font-size: var(--font-size-footer-headline);
  max-width: 65%;
}

.footer__Connect {
  border-bottom: 1px solid white;
}

.footer__NewsletterLabel {
  color: var(--color-white);
  font-size: 0.8rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.footer__NewsletterLabel::before {
  content: "⬤";
  color: var(--color-white);
  margin-right: 0.3rem;
  font-size: 0.7rem;
}

.footer__NewsletterForm {
  display: flex;
  gap: 1rem;
}

input[type="email"] {
  width: 60%;
  background-color: var(--color-dark-grey);
  height: 3rem;
  padding-bottom: 2rem;
  border-style: none;
  border-bottom: 1px solid var(--color-white);
}

input[type="email"]::placeholder {
  color: var(--color-white);
  font-size: 0.7rem;
}

.footer__ListHeaders {
  font-size: var(--font-size-footer-list-headline);
  color: var(--color-white);
  font-family: "SctoBold";
  display: flex;
  align-items: center;
}

.footer__ListHeaders::before {
  content: "⬤";
  color: var(--color-white);
  margin-right: 0.3rem;
  font-size: 0.7rem;
}

#newsletterButton {
  background-color: var(--color-dark-grey);
  color: var(--color-light-grey);
  border: 1px solid var(--color-pink);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.footer__List {
  font-size: 0.8rem;
}