@import "style.css";
@import url("style.css");

h1 {
    font-size: var(--font-size-h1);
    font-family: 'SctoBold';
    text-transform: uppercase;
    max-width: 35%;
}

h1 span {
    font-size: 2.7rem;
}

.grid {
    margin-bottom: 2rem;
}

.easy__to {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2rem;
}

.easy__to p{
    max-width: 30%;
    align-self: flex-end;
    line-height: 1;
    font-size: 0.9rem;
}

.real__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5%;
    padding: 0 2rem;
}

.real__grid__hero {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-right: 1px solid var(--color-black);
    padding: 0 5rem;
}

.date {
    margin-bottom: 30%;
}

.grid__headline {
    margin-bottom: 1rem;
    font-family: 'SctoBold';
    font-size: var(--font-size-h2);
    text-transform: uppercase;
    width: 15rem;
}

.grid__herotext {
    margin-bottom: 2rem;
    line-height: 1.2;
    font-size: 0.8rem;
}

.grid__herobutton {
    margin-bottom: 4rem;
}

.grid__ad {
    display: flex;
    flex-direction: column;
    margin: 0.5rem;
}

.grid__ad h3 {
    font-family: 'SctoBold';
    font-size: 1rem;
    margin: 1rem 0;
}

.grid__ad p {
    text-transform: uppercase;
    line-height: 1.1;
    font-size: var(--font-size-nav);
    width: 70%;
}

.grid__ad img {
    width: 80%;
}

.real__grid a {
    background-color: var(--color-white);
    text-decoration: none;
    font-size: var(--font-size-nav);
    color: var(--color-black);
    border: 1px solid var(--color-black);
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    width: fit-content;
}