@import "style.css";
@import url("style.css");

/* Hero Section */

.contact {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  grid-template-areas: "image info";
  width: 100%;
  gap: 2rem;
  height: 50rem;
}

.image {
  grid-area: image;
  background: url(../img/Contact-Header.jpg) center/cover no-repeat;
}

.contact__Info {
  grid-area: info;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  padding: 1rem;
}

.contact__Headline {
  font-size: var(--font-size-h1);
  font-family: "SctoBold";
}

.contact__Subline {
  width: 30%;
  font-size: 0.8rem;
}

.newBusiness, .press, .general, .joinUs {
  font-size: 1.3rem;
  text-transform: uppercase;
  font-family: "SctoBold";
}

.newBusinessMail, .pressMail, .generalMail, .joinUsMail {
  color: var(--color-light-grey);
}

.contact__Grid {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas: "dot business general"
  ". press join";
  gap: 2rem;
}

.contact__Dot {
  grid-area: dot;
  font-size: 2rem;
}

.business__Frame {
  grid-area: business;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.press__Frame {
  grid-area: press;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.general__Frame {
  grid-area: general;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.join__Frame {
  grid-area: join;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.grid {
  display: flex;
}

.border {
  border-right: 1px solid black;
  padding: 0 2rem;
  width: 50%;
}

hr {
  grid-area: line;
}

.numbers {
  display: flex;
  justify-content: space-between;
  padding-top: 1rem;
  color: var(--color-light-grey);
  font-size: 0.6rem;
}

.real__grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-areas: 'pic loc'
  'line line';
  gap: 5%;
  padding: 0 2rem;
  margin: 1rem 0;
}

.real__grid img {
  grid-area: pic;
  width: 100%;
}

.real__grid h3 {
  grid-area: loc;
}

.three__column {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 2rem;
}

.horizontal__Line2 {
  border: 1px solid var(--color-light-grey);
  margin: 2rem 0 0.3rem 0;
  width: 94%;
}

.horizontal__LineFrame2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.three__headlines {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 2rem;
  font-size: 0.5rem;
  text-transform: uppercase;
}

.three__column a {
  color: var(--color-dark-grey);
}

.three__column h3 {
  font-family: 'SctoBold';
}

input[type="email2"] {
  width: 100%;
  background-color: var(--color-white);
  height: 3rem;
  padding-bottom: 2rem;
  border-style: none;
  border-bottom: 1px solid var(--color-black);
}

input[type="email2"]::placeholder {
  color: var(--color-light-grey);
  font-size: 0.7rem;
}

.footer__NewsletterLabel2 {
  text-transform: uppercase;
}

/* Footer Styles */

footer {
  width: 100%;
  background-color: var(--color-dark-grey);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.logo__Footer img {
  height: 0.8rem;
}

.footer__Top {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.footer__Mid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-areas: "newsletter newsletter newsletter socials initiatives offices";
  width: 100%;
  gap: 1rem;
  margin-bottom: 4rem;
}

.footer__Mid ul li a {
  text-decoration: none;
  color: var(--color-white);
}

.newsletter {
  grid-area: newsletter;
  display: flex;
  flex-direction: column;
}

.socials {
  grid-area: socials;
}

.initiatives {
  grid-area: initiatives;
}

.offices {
  grid-area: offices;
}

.footer__Bottom {
  display: flex;
  justify-content: space-between;
  margin-bottom: -1.5rem;
}

.footer__Bottom p {
  color: var(--color-light-grey);
  font-size: var(--font-size-footer-bottom);
}

.footer__Headline {
  color: var(--color-white);
  font-size: var(--font-size-footer-headline);
  max-width: 65%;
}

.footer__Connect {
  border-bottom: 1px solid white;
}

.footer__NewsletterLabel {
  color: var(--color-white);
  font-size: 0.8rem;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
}

.footer__NewsletterLabel::before {
  content: "⬤";
  color: var(--color-white);
  margin-right: 0.3rem;
  font-size: 0.7rem;
}

.footer__NewsletterForm {
  display: flex;
  gap: 1rem;
}

input[type="email"] {
  width: 60%;
  background-color: var(--color-dark-grey);
  height: 3rem;
  padding-bottom: 2rem;
  border-style: none;
  border-bottom: 1px solid var(--color-white);
}

input[type="email"]::placeholder {
  color: var(--color-white);
  font-size: 0.7rem;
}

.footer__ListHeaders {
  font-size: var(--font-size-footer-list-headline);
  color: var(--color-white);
  font-family: "SctoBold";
  display: flex;
  align-items: center;
}

.footer__ListHeaders::before {
  content: "⬤";
  color: var(--color-white);
  margin-right: 0.3rem;
  font-size: 0.7rem;
}

#newsletterButton {
  background-color: var(--color-dark-grey);
  color: var(--color-light-grey);
  border: 1px solid var(--color-pink);
  text-align: center;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.footer__List {
  font-size: 0.8rem;
}